.parentlayout {
    padding: 100px;
    margin: auto;

}

.innerlayout {
    max-width: 1240px;
    min-height: 472px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--Purple-3, #F7F5F9);
    padding: 40px;

}

.Ap {
    color: var(--grey-darker, #6D747A);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    /* 166.667% */
    letter-spacing: 0.36px;
}

.play {
    width: 776px;
    height: 100px;

    border-radius: 8px;

    background: var(--Purple-2, #CCC1DA);
}

.n {
    color: var(--primary-full, #8064A2);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 0;
    width: 180px;
}

.aa {
    color: #0096C8;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style-type: none;
    text-decoration: none;

}

@media only screen and (max-width: 584px) {

    .play {
        max-width: auto;


    }




}


@media only screen and (max-width: 1076px) {

    .play {
        max-width: 400px;
        margin: auto;
    }


    .parentlayout {
        padding: 24px;
    }

}

@media only screen and (max-width: 1324px) {}